<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definitions</title>
    
    <style>
        body{background: black}
        h1{color: gold;}
        h3{color: white}
        p{color: gold; font-family: sans-serif;}
    </style>
</head>
<body>
    <button><a class = "nav-link" href = "/" >Back to Welcome Screen</a></button>
    <center>
    <h1>Important definitions to remember.</h1>
    <p>New Definitions</p>
    <script src="definitions.js"></script>
    <h3 id='acid'>Acid</h3>
    <p>A chemical species that accepts electrons or donate protons or hydrogen ions.</p>
    <h3 id="acidic solution">Acidic Solution</h3>
    <p>An aqueous solution with a pH less than 7.0. </p>
    <h3 id="akaline">Akaline</h3>
    <p>An aqueous solution with a pH greater than 7.</p>
    <h3 id="akali metal">Akali Metal</h3>
    <p>Any element found in group IA (first column) of the periodic table.</p>
    <h3 id="anion">Anion</h3>
    <p>An ion with a negative electrical charge.</p>
    <h3 id="aqueous solution">Aqueous Solution</h3>
    <p>A solution in which water is the solvent.</p>
    <h3 id="atom">Atom</h3>
    <p>The defining unit of an element, which cannot be subdivided using chemical means.</p>
    <h3 id="atomic mass">Atomic Mass</h3>
    <p>Average mass of atoms of an element.</p>
    <h3 id="atomic number">Atomic Number</h3>
    <p>The number of protons in the nucleus of an atom of an element.</p>
    <h3 id="avogadro's number">Avogadro's Number</h3>
    <p>The number of particles in one mole of a substance; 6.0221 x 10^23</p>
    </center>
    
</body>
</html>