<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
      body{background-color: gold;}
    </style>
</head>
    
<body>
    <center>
    <h1>Welcome to the Chemistry Helper</h1>
    <p>There are many Periodic tables that you can find online
        <br>
        or even use the one that comes within the book. Here is<br>
        a link to a table that we use: <button id = "ptable"><a href = "https://ptable.com/#Properties">Periodic Table</a></button>
    </p>
    <br>
    <p>If you would like to know what this site is about<br>
        just click on this button here: <button id = "about"><a class = "nav-link" href="/about">About</a></button></p>
        <br>
    <p>If you would like to see some definitions that will be important <br>
        to know during your first chapter, take a look here: <button id = "glossary"><a class = "nav-link" href="/Definitions">Glossary</a></button></p>
    <br>
    <p>This link will bring you to a virtual lab that has been <br>
        provided to us by a current professor: <button id = "virtual lab"><a href=https://chem.libretexts.org/Ancillary_Materials/Interactive_Applications/ChemCollective_Virtual_Labs/Default_VirtualLab>Virtual Lab</a></button>
    <br>
        This may help you as you begin you Chemistry Lab.</p>
    <nav>
        <ul>
            <!--<li><a class = "nav-link" href = "/about" >About</a></li>
            <li><a class = "nav-link" href = "/Definitions" >Definitions</a></li>
            <li><a class = "nav-link" href = "/ml" >ML</a></li>-->
            <li><a class = "nav-link" href = "/Test Help" >Test Help</a></li>
            <li><a class = "nav-link" href = "/Logout" >Logout</a></li>
        </ul>
    </nav>
    <br>
    <p>Here is another page that you may find different to see.<br>
    This is machine learning aspect of this site. We will see how it goes.
    <button id='ml'><a class="nav-link" href='/ml'>Machine Learning</a></button></p>
    <script src="ml.js"></script>

    

   </center>
   <img src="img/chemistry.jpg" alt="chem">
</body>
</html>